* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: hsla(24, 48%, 15%, 0.912);
  display: flex;
}
#part1 {
  height: 100%;
  width: 26%;
  /* background-color: red; */
}
#part2 {
  height: 100%;
  width: 67%;
  background-color: rgb(29, 166, 230);
  background-image: url(image-1.jpg);
  background-size: cover; /*image background ko cover karle*/
  background-position: center;
}
#overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(18, 4, 4, 0.565);
}
